body {
    min-height: 100vh;
    margin: 0;
    padding: 0 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

button {
    background-color: #3882f6;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    border-color: #3882f6;
    padding: 4px 20px;
    box-shadow: none;
    outline: none;
    outline-offset: -2px;
}

.section {
    display: flex;
    padding: 76px 512px;
    flex-grow: 1;
}

/* Header */
.section.header {
    background-color: #1f2937;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.header-logo-text {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

/* Top section (hero) */
.section.top {
    background-color: #1f2937;
    justify-content: center;
    align-items: stretch;
    gap: 32px;
}

.headline {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 420px;
    flex-grow: 1;
}

.headline-title {
    color: #f9faf8;
    font-family: sans-serif;
    font-size: 48px;
    font-weight: 800;
    display: flex;
    flex-grow: 1;
}

.headline-subtitle {
    color: #e5e7eb;
    font-family: sans-serif;
    font-size: 18px;
    flex-grow: 1;
    margin: 4px 0px;
}

.top-image-placeholder {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    background-color: grey;
    /* flex-basis: 600px;
    height: 200px; */
    flex-grow: 1;
}

/* First middle section */
.section.first-middle {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding-top: 32px;
}

.middle-title {
    color: #1f2937;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 800;
    text-align: center;
    margin: 0px 0px;
}

.section-items {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 48px;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex-basis: 150px;
}

.item-image {
    height: 150px;
    border-radius: 16px;
    border: solid 3px #3882f6;
    margin: 4px 0px;
}

.item-image-subtext {
    font-size: 16px;
    text-align: center;
    margin: 0px 4px;
}

/* Second middle section */
.section.second-middle {
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    background-color: #e5e7eb;
}

.quote {
    font-size: 34px;
    font-family: sans-serif;
    font-weight: 0;
    font-style: italic;
    color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 52px;
}

.signature {
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 82px;
}

/* Second middle section */
.section.bottom {
    justify-content: center;
    align-items: center;
    padding: 76px 480px;
}

.bottom-signup-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882f6;
    padding: 36px 82px;
    flex-grow: 1;
    border-radius: 5px;
}

.bottom-call-to-action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-grow: 1;
}

.bottom-signup-box .signup-button {
    border-color: white;
}

.bottom-title {
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.bottom-subtitle {
    font-family: sans-serif;
    color: white;
}

/* Section footer */
.section.footer {
    padding: 36px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: white;
    font-weight: bold;
}